{% extends "base.html" %}

{% block content %}

<div class="card shadow">

<div class="card-body">

<h2 class="mb-3">Лабораторная работа №2</h2>

<p>

В данном веб-приложении реализованы следующие функции:

</p>

<ul>

<li>Отображение параметров URL запроса</li>

<li>Отображение заголовков HTTP запроса</li>

<li>Отображение Cookie</li>

<li>Форма авторизации</li>

<li>Форма проверки номера телефона</li>

</ul>

<p>

Используйте верхнее меню для перехода между страницами.

</p>

</div>

</div>

{% endblock %}