{% extends "base.html" %}

{% block content %}

<h2 class="mb-3">Форма авторизации</h2>

<div class="card shadow" style="max-width:500px">

<div class="card-body">

<form method="POST">

<div class="mb-3">

<label class="form-label">Логин</label>

<input type="text" name="login" class="form-control">

</div>

<div class="mb-3">

<label class="form-label">Пароль</label>

<input type="password" name="password" class="form-control">

</div>

<button class="btn btn-primary">Войти</button>

</form>

</div>

</div>


{% if login %}

<div class="alert alert-success mt-4">

<h5>Введенные данные</h5>

<p>Login: {{ login }}</p>

<p>Password: {{ password }}</p>

</div>

{% endif %}

{% endblock %}