{% extends "base.html" %}

{% block content %}

<h2 class="mb-3">Проверка номера телефона</h2>

<div class="card shadow" style="max-width:500px">

<div class="card-body">

<form method="POST">

<div class="mb-3">

<label class="form-label">Введите номер телефона</label>

<input
type="text"
name="phone"
value="{{ phone_raw }}"
placeholder="+7 (123) 456-75-90"
class="form-control {% if error %}is-invalid{% endif %}"
>

{% if error %}

<div class="invalid-feedback">

{{ error }}

</div>

{% endif %}

</div>

<button class="btn btn-primary">

Проверить

</button>

</form>

</div>

</div>


{% if formatted %}

<div class="alert alert-success mt-4">

Номер в формате:

<strong>{{ formatted }}</strong>

</div>

{% endif %}

{% endblock %}