{% extends "base.html" %}
{% block content %}

<h1 class="mb-3">Request Info</h1>

<div class="row g-3">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">URL параметры (request.args)</div>
      <div class="card-body">
        <pre class="mb-0">{{ args }}</pre>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Cookies (request.cookies)</div>
      <div class="card-body">
        <pre class="mb-0">{{ cookies }}</pre>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="card">
      <div class="card-header">Заголовки (request.headers)</div>
      <div class="card-body">
        <pre class="mb-0">{{ headers }}</pre>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="card">
      <div class="card-header">Данные формы (request.form)</div>
      <div class="card-body">
        <pre class="mb-0">{{ form }}</pre>
      </div>
    </div>
  </div>
</div>

{% endblock %}